# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\STC PROJECT_FIDS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
